.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #ffffff;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #ffffff;
    background-color: #8193df;
    color: #ffffff;
    padding: 5px;
}

.table_component td {
    border: 1px solid #ffffff;
    background-color: #292a41;
    color: #ffffff;
    padding: 5px;
}

.fit-w-400px {
    width: fit-content !important;
    position: relative;
}

.logoutBtn {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

.logoutBtn>form>label:hover {
    cursor: pointer;
    color: #8193df;
}

td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}

td:nth-child(6) {
    cursor: pointer;
}

#modal-cont {
    z-index: 2;
    background-color: rgb(87 87 87 / 50%) !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(3px); */
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 25px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #21cc4c;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

.act-btn {
    color: #03a9f4;
    font-size: 12px;
    margin-bottom: 5px !important;
}

.input-btn {
    margin-bottom: 30px;
}