<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div id="main" class="main-container">
        <div class="box w-400px">
            <h2>Login</h2>
            <div>
                <div class="input-box">
                    <input id="user-name" type="text" name="username" required="" autocomplete="current-username">
                    <label>Username</label>
                </div>
                <div class="input-box password">
                    <input id="user-pass" type="password" name="password" required="" autocomplete="current-password">
                    <label>Password</label>
                </div>
                <div id="error-msg" style="color:white;margin-bottom: 10px;" hidden></div>
                <input id="submit" type="submit" name="" value="Submit" onclick="login()">
            </div>
            <p><a href="/change_password/">Forgot Password?</a></p>
            <p><a href="/create_login/">Register</a></p>
        </div>
    </div>
    <div id="logged-in">
    </div>
</body>
<script src="/static/js/common.js"></script>
<script src="/static/js/login.js"></script>

</html>